---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<Layout title="Felipe Franco About" />

<Header />

<main class="w-[90%] max-w-[1000px] sm:mt-10">
    <h1 class="font-bold sm:my-10 mb-5">Statement</h1>
    <p class="text-pretty">
        The idea of a mutable, changing and transitory space that links everyday
        and vernacular gestures, leads me to question the formal values of
        architecture. Values that within a local urban context, do not
        necessarily respond to the models of appropriation and spatial needs
        that, in one way or another, shape the growth of a city, a neighborhood,
        an environment that acquires a visual identity through gestures and
        aesthetic desires that are understood through forms and matter. I make
        use of a geographical analysis of the urban environment, in which
        structures such as the home and the city take center stage. There, I
        place myself as a transgressor of space; disarticulating and
        understanding morphologically those expressions that are anchored to the
        surface of a body that connects with the urban landscape; the building.
        But which, in turn, allows to unravel a narrative that is linked to the
        individual and collective experiences of the inhabitant. Starting from
        this problematization of space, I approach an interdisciplinary analysis
        in which expressive opportunities are generated through architecture,
        design, matter, forms and the fragile and ephemeral condition of space.
        I try to question the idea of architecture and force it to look at where
        we are, what we do and who we are. In this way, the means, within my
        project, are nothing more than the consequence of a search that aims to
        build the tacit experience of a certain inhabited space: Inhabited by an
        individual; inhabited by a family; and, inhabiting, as an unavoidable
        action of every human being.
    </p>
</main>
