---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Felipe Franco How to waste time working Project" />

<main>
    <section class="sm:h-screen w-screen">
        <Header />
        <div class="sm:pr-[25%] text-center sm:text-right">
            <h1>Breathing</h1>
            <p>2022</p>
        </div>

        <div
            class="w-screen flex justify-center lg:h-[500px] sm:h-[400px] h-[300px] max-w-[1200px] m-auto sm:my-20 my-10"
        >
            <iframe
                class="w-[90%]"
                src="https://www.youtube.com/embed/8prbDI2RrDM?si=nQBUI49afMhtxNGw"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin"
                allowfullscreen></iframe>
        </div>

        <div class="w-screen hidden sm:flex justify-center animate-bounce">
            <a href="#next6">
                <img
                    class="w-[30px] cursor-pointer"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAO1JREFUSEvtlUEKwjAQRed7CO80OYuCgoIFEQVFQcGCniVzHs/hYiTSQqxJG63dSLvN5L9k8pKCOv7QcT79McAYk6nqUESmdW1k5jMR3UQkD9UFW+QmAZi4CaqaxyCVup2ILKuQGOACYFQWhyB+eLGQq4iMkwCuiJlfIER0sNZmbswYsyeihbeAYLgbr7UoAFmr6gDAKiW8EVDs5AhgFjpAVT2JyLxOgqR7wMxvkJTw2h1UNfUhfvhPNWXmLYC7tXZTtM/Xudf06UqvafzKxDRt+mElXbQypKppU3jSU5ES0vqpaAP5qEXfgDoHPADhtsQZRrNBuAAAAABJRU5ErkJggg=="
                />
            </a>
        </div>
    </section>

    <section class="w-[95%] max-w-[1400px] mx-auto">
        <div
            class="sm:grid sm:grid-cols-2 gap-4 pt-20 sm:pt-0 pb-20 w-[85%] max-w-[1000px] mx-auto place-items-center"
            id="next6"
        >
            <img src="../Respiracion/1.webp" alt="imagen1" />
            <p class="text-[12px] text-pretty pt-10 sm:pt-0">
                Between the fissures of an unknown landscape, the sounds of a
                wind that passes over the mountains filter through, a breeze
                that touches the skin, hurts it, dries it and fissures it. It is
                a damage to which the body that moves between the cold and the
                heights, a body that is exhausted, and inevitably, seeks a way
                to find oxygen in the breath. Above the skies, in that hurtful
                place, I find the consolation of learning to breathe a second
                time.
            </p>
        </div>

        <div
            class="place-items-center flex flex-col w-[90%] max-w-[1400px] mx-auto gap-2 pt-6  xl:[&>p]:w-[74%] [&>p]:w-[100%] "
        >
            <img
                class=""
                width="935"
                height="1400"
                loading="lazy"
                src="../Respiracion/2.webp"
                alt="2"
            />
            <p class="mb-10 text-[10px]">Paramo de Ocetá, Monguí, COL.</p>
            <img
                width="935"
                height="1400"
                loading="lazy"
                src="../Respiracion/3.webp"
                alt="3"
            />
            <p class="mb-10 text-[10px]">Paramo de Ocetá, Monguí, COL.</p>
            <img
                width="935"
                height="1400"
                loading="lazy"
                src="../Respiracion/4.webp"
                alt="4"
            />
            <p class="mb-10 text-[10px]">Paramo de Ocetá, Monguí, COL.</p>
            <img
                width="935"
                height="1400"
                loading="lazy"
                src="../Respiracion/5.webp"
                alt="5"
            />
            <p class="mb-10 text-[10px]">Paramo de Ocetá, Monguí, COL.</p>

            <img
                width="935"
                height="1400"
                loading="lazy"
                src="../Respiracion/7.webp"
                alt="7"
            />
            <p class="mb-10 text-[10px]">Paramo de Ocetá, Monguí, COL.</p>
        </div>
    </section>
    <div class="mt-10 max-h-[1000px] overflow-hidden place-items-center flex">
        <img
            class="w-full"
            width="935"
            height="1400"
            loading="lazy"
            src="../Respiracion/6.webp"
            alt="6"
        />
    </div>

    <Footer />
</main>
