---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<Layout title="Felipe Franco Artist CV"/>

<Header />

<main class="[&>section>h2]:font-bold [&>section>p]:text-[15px] [&>section>h2]:text-md [&>section>p>span]:font-bold [&>section>p]:mt-5 w-[90%] max-w-[1000px] m-auto [&>section]:my-14 border-l-[1px] pl-5 border-solid border-[#afafafcc]">
    <section class="">
        <h2>Education:</h2>
        <p><span>2024 </span>Visual artist. University of Antioquia. Medellín, Colombia.</p>
        <p><span>2020 </span>Specialist in building pathology and intervention and prevention techniques. National University of Colombia. Medellín, Colombia.</p>
        <p><span>2018 </span>Architect. National University of Colombia. Medellín, Colombia.</p>
        <p><span>2015 </span>Architectural drawing technician. SENA. Itagüí, Colombia.</p>
    </section>

    <section>
        <h2>Solo exhibitions:</h2>
        <p><span>2022 </span> Sin lugar para una superficie. (No place for a surface) House Cultural Center, Medellín, Colombia.</p>
    </section>

    <section>
        <h2>Group exhibitions:</h2>
        <p><span>2024 </span>Humano demasiado humano, Grade sample Faculty of Arts University of Antioquia, Antioquia Building. Medellín, Colombia.</p>
        <p><span>2024 </span>Exhibition of new talents in art. Medellin Chamber of Commerce for Antioquia, Medellin, Colombia.</p>
        <p><span>2023 </span>Comfenalco Young Art Biennial. Belen Public Library. Medellín, Colombia.</p>
        <p><span>2023 </span>Deambulantes. Espronceda. Cultural Center. Barcelona, Spain.</p>
        <p><span>2023 </span>Usqua-twisting the thread. Crealab. Cultural Center Faculty of Arts. University of Antioquia. Medellín, Colombia.</p>
        <p><span>2023 </span>Diachronies. Crealab. Cultural Center Faculty of Arts. University of Antioquia. Medellín, Colombia.</p>
        <p><span>2022 </span>Estacionarios, Exhibition of processes in Artistic Residency Naviera (RAN). Antioquia Building. Medellín, Colombia.</p>
        <p><span>2022 </span>Cartographies of a crack. Rafael Uribe Uribe Uribe Palace of Culture. Medellín, Colombia.</p>
        <p><span>2022 </span>Exhibition of new talents in art. Medellin Chamber of Commerce for Antioquia, Medellin, Colombia.</p>
    </section>

    <section>
        <h2>Awards: </h2>
        <p><span>2023 </span>Winner of the Comfenalco Young Art Biennial (Third place), Medellín, Colombia.</p>
        <p><span>2023 </span>Finalist in the call for new talents in art of the Chamber of Commerce of Medellin, Medellin, Colombia.</p>
        <p><span>2022 </span>Sin lugar para una superficie (No place for a surface), Winner project of the creation grant for young visual and plastic artists of the Ministry of Culture. Medellín, Colombia.</p>
        <p><span>2022 </span>Página liberada-Ensalada casera, Winning proposal for grants for small research and creation projects. University of Antioquia, Medellin, Colombia.</p>
        <p><span>2022 </span>Finalist in the call for new talents in art of the Chamber of Commerce of Medellin, Medellin, Colombia.</p>
        <p><span>2019 </span>Academic stimulus. Assistant to the University Museum of Antioquia University (MUUA). Visual arts area, University of Antioquia. Medellín, Colombia.</p>
    </section>

    <section>
        <h2>Recidences & Workshops:</h2>
        <p><span>2023 </span>Nectar, Artist Residency, Barcelona, Spain </p>
        <p><span>2022 </span>Artist Residency Naviera (RAN), Medellín, Colombia</p>
    </section>

    <section>
        <h2>Publication: </h2>
        <p><span>2022 </span>Cartography of a crack. P 20 - 24, ISBN 978-958-49-8612-2, Ojo de pez magazine. Medellín, Colombia.</p>
        <p><span>2021 </span>Ojo de pez magazine V-6 (Elitisms, abject models and in response, a collective), P. 7, Medellín, Colombia.</p>
    </section>
</main>