---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Felipe Franco We Are Dust Project" />

<main>
    <section>
        <div class="sm:h-screen w-screen">
            <Header />
            <div class="sm:pr-[25%] text-center sm:text-right">
                <h1>We are dust</h1>
                <p>2023</p>
            </div>

            <div class="sm:mt-30 mt-20 relative overflow-hidden bg-gray-100">
                <div class="" id="carousel">
                    <div class="w-[95%] flex justify-center image mx-auto">
                        <iframe
                            class="sm:h-[500px] h-[300px]"
                            width="1000"
                            height="500"
                            src="https://www.youtube.com/embed/A884iGmfnSY?si=aak_ft8gftmsQ-Jw"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen></iframe>
                    </div>
                    <div class="hidden image">
                        <iframe
                            class="sm:h-[500px] h-[300px] m-auto"
                            width="1000"
                            height="500"
                            src="https://www.youtube.com/embed/Eov0mXHYqyI?si=LR09juyN66H0oRx-"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin"
                            allowfullscreen></iframe>
                    </div>
                </div>

                <!-- Botones de navegación -->
                <button
                    type="button"
                    class="absolute top-0 sm:start-20 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    id="carousel-prev"
                >
                    <span
                        class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray-800/70 group-focus:outline-none"
                    >
                        <svg
                            class="w-6 h-6  text-gray-800 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M5 1 1 5l4 4"></path>
                        </svg>
                        <span class="sr-only">Previous</span>
                    </span>
                </button>
                <button
                    type="button"
                    class="absolute top-0 sm:end-20 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
                    id="carousel-next"
                >
                    <span
                        class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-gray-800/30 group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-gray-800/70 group-focus:outline-none"
                    >
                        <svg
                            class="w-6 h-6 text-gray-800 rtl:rotate-180"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 6 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 9 4-4-4-4"></path>
                        </svg>
                        <span class="sr-only">Next</span>
                    </span>
                </button>
            </div>

            <div
                class="sm:mt-20 hidden w-screen sm:flex justify-center animate-bounce"
            >
                <a href="#next3">
                    <img
                        class="cursor-pointer"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAO1JREFUSEvtlUEKwjAQRed7CO80OYuCgoIFEQVFQcGCniVzHs/hYiTSQqxJG63dSLvN5L9k8pKCOv7QcT79McAYk6nqUESmdW1k5jMR3UQkD9UFW+QmAZi4CaqaxyCVup2ILKuQGOACYFQWhyB+eLGQq4iMkwCuiJlfIER0sNZmbswYsyeihbeAYLgbr7UoAFmr6gDAKiW8EVDs5AhgFjpAVT2JyLxOgqR7wMxvkJTw2h1UNfUhfvhPNWXmLYC7tXZTtM/Xudf06UqvafzKxDRt+mElXbQypKppU3jSU5ES0vqpaAP5qEXfgDoHPADhtsQZRrNBuAAAAABJRU5ErkJggg=="
                    />
                </a>
            </div>
        </div>
    </section>

    <section id="next3">
        <p
            class="sm:w-screen py-20 text-[12px] text-pretty sm:max-w-[800px] mx-auto w-[90%]"
        >
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni
            reiciendis aut quo tempora, vel at nesciunt necessitatibus hic
            temporibus impedit commodi quam. Eaque modi reprehenderit inventore
            repellendus iure exercitationem cum. Lorem ipsum dolor, sit amet
            consectetur adipisicing elit. Inventore iure cumque, alias earum
            nisi fuga voluptas labore molestias aperiam! Quaerat magni dolores
            magnam mollitia! Repudiandae magnam accusantium quaerat natus ex?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            tenetur suscipit id, distinctio pariatur dicta cumque, beatae eum
            quasi necessitatibus temporibus illo ullam ipsa, nesciunt maiores
            consequatur voluptate cum veniam.
        </p>

        <div class="flex flex-col w-[90%] max-w-[1400px] mx-auto gap-2 pt-6">
            <img
                width="1400"
                height="935"
                loading="lazy"
                src="../Polvo/1.webp"
                alt="1"
            />
            <p class="mb-10 text-[10px]">
                Action record in an abandoned space, Medellín, CO.
            </p>
            <img
                width="1400"
                height="935"
                loading="lazy"
                src="../Polvo/2.webp"
                alt="2"
            />
            <p class="mb-10 text-[10px]">
                Action record in an abandoned space, Medellín, CO.
            </p>
            <img
                width="1400"
                height="935"
                loading="lazy"
                src="../Polvo/3.webp"
                alt="3"
            />
            <p class="mb-10 text-[10px]">
                Action record in an abandoned space, Medellín, CO.
            </p>
            <img
                width="1400"
                height="935"
                loading="lazy"
                src="../Polvo/4.webp"
                alt="4"
            />
            <p class="mb-10 text-[10px]">
                Action record in an abandoned space, Medellín, CO.
            </p>

        </div>
    </section>

    <div class="mt-10 max-h-[1000px] overflow-hidden place-items-center flex">
        <img
        class="w-full"
        width="1400"
        height="935"
        loading="lazy"
        src="../Polvo/5.webp"
        alt="5"
    />
    </div>

    <Footer />

    <script src="../carousel.js">

    </script>

</main>
