<footer class="flex justify-evenly py-4">
    <a href="/projects">
        <h1 class="text-[15px] hover:cursor-pointer">Projects</h1></a
    >

    <p class="flex flex-col justify-center text-[9px]">
        © 2024 Felipe Franco.
    </p>
</footer>