<section
    class="text-[#454545] relative w-screen h-screen overflow-hidden flex flex-col justify-center"
>
    <div class="fade z-10 relative">
        <a href="/">
            <h1 class="text-2xl text-center pt-5 sm:text-4xl font-extralight in">
                Felipe Franco
            </h1>
        </a>

        <nav
            class="text-small text-[#757575] w-[90%] mx-auto flex gap-2 sm:gap-10 justify-center pt-20 sm:text-xl font-bold hover:[&>li]:bg-[#454545] hover:[&>li]:bg-opacity-15 [&>li]:rounded [&>li]:px-2"
        >
            <li class="relative"><a class="line" href="/projects/">Projects</a></li>
            <li class="relative"><a class="line" href="/about">Statement</a></li>
            <li class="relative"><a class="line" href="/cv">CV</a></li>
            <li class="relative"><a class="line" href="/contact">Contact</a></li>
        </nav>
    </div>

    <div class="z-0 absolute top-0">
        <video
            autoplay
            muted
            loop
            class="h-screen w-screen object-cover object-center"
            src="video.webm"></video>
    </div>
</section>
